{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Medicamento</title>
  <link rel="stylesheet" href="{% static 'css/cadastro_medicamentos.css' %}">

</head>
<body>
<main class="container">
  <h2>Cadastrar Medicamento</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
      <a href="{% url 'lista_medicamentos' %}" class="btn btn-ghost">Cancelar</a>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </form>
</main>
</body>
</html>
