{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Relatório de Medicamentos</title>
    
</head>
<body>
    

   

<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Fabricante</th>
            <th>Qtd.</th>
            <th>Unidade</th>
            <th>Validade</th>
            <th>Preço (R$)</th>
        </tr>
    </thead>
    <tbody>
        <header>
        <img src="http://localhost:8000{% static 'imgs/logo_parceiro_1.png' %}" alt="Logo Sou Pet">
        <h2>Relatório de Estoque de Medicamentos</h2>
    </header>
        {% for med in medicamentos %}
        <tr>
            <td>{{ med.nome }}</td>
            <td>{{ med.fabricante|default:"-" }}</td>
            <td>{{ med.quantidade }}</td>
            <td>{{ med.get_unidade_display }}</td>
            <td>{% if med.validade %}{{ med.validade|date:"d/m/Y" }}{% else %}-{% endif %}</td>
            <td>{% if med.preco %}{{ med.preco }}{% else %}-{% endif %}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" style="text-align:center;">Nenhum medicamento cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
